@media screen and (max-width: 420px) {

   //---header---
 
   .header{
     .header_box{
       .header_content{
         .header_content_buttoon{
           width:120px ;
         }
       }
     }
   }
 
   //---whyThrive---
 
   .whyThrive_content {
     h3 {
       margin-top: 10px;
     }
   }
    //---helpWith---
 
   .helpWith {
     #services, a {
       line-height: inherit;
     }
     .helpWith_bloc {
       .running {
         h4 {
           
           margin-left: inherit;
         }
       }
     }
   }
    //---next---
 
 
    .next{
     grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
 
    }
 
 
 //---know---

 .know{
   p{
     max-width: inherit;
   }
 }

 //---smile---

 .smile{
   .smile_content{
     p{
       line-height: inherit;
     }
   }
 }
  }




