@media screen and (max-width: 1060px){
   .know{
      .know_content{
         max-width: 340px;
         margin-left: 40px;;
         h3{
            line-height: 50px;
         }
         p{
            margin-top: 0;
            font-size: 24px;
         }

      
      }
   }
  //---smile---

  .smile{
     .smile_content{
      h3{
         line-height: 50px;
      }
      h4{
         margin-top: 100px;
      }
      p{
         margin-top: 0;
         font-size: 24px;
      }
      a{
         margin-top: 100px;
      }
     }
  }

}
