html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: '';
  content: none;
}

q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Larsseit";
  src: url("Larsseit-BoldItalic.eot");
  src: local("Larsseit Bold Italic"), local("Larsseit-BoldItalic"), url("../fonts/Larsseit-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Larsseit-BoldItalic.woff2") format("woff2"), url("../fonts/Larsseit-BoldItalic.woff") format("woff"), url("../fonts/Larsseit-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Larsseit";
  src: url("Larsseit-Bold.eot");
  src: local("Larsseit Bold"), local("Larsseit-Bold"), url("../fonts/Larsseit-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Larsseit-Bold.woff2") format("woff2"), url("../fonts/Larsseit-Bold.woff") format("woff"), url("../fonts/Larsseit-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Larsseit";
  src: url("Larsseit.eot");
  src: local("Larsseit"), url("../fonts/Larsseit.eot?#iefix") format("embedded-opentype"), url("../fonts/Larsseit.woff2") format("woff2"), url("../fonts/Larsseit.woff") format("woff"), url("../fonts/Larsseit.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.header .header_box .header_content p,
.whyThrive .whyThrive_content p span,
.aboutUs a,
.helpWith #services,
.helpWith a,
.programme_food div h5,
.programme_food div p,
.know #blog,
.know a,
.smile #contact,
.smile a,
.smile p,
.footer .footer_info a,
.footer .footer_info p,
footer p {
  font-family: "Larsseit";
  font-weight: normal;
  font-style: normal;
}

.header .header_top .header_top_logo h2,
.header .header_top a,
.header .header_box .header_content h1,
.header .header_box .header_content .header_content_butoon button,
.whyThrive .whyThrive_content h3,
.whyThrive .whyThrive_content p,
.aboutUs p,
.helpWith .helpWith_bloc h4,
.next h4,
.know p,
.know a,
.smile h4,
.smile a,
.footer .footer_info h4 {
  font-family: "Larsseit";
  font-weight: bold;
  font-style: normal;
}

.hamburger-box {
  width: 60px;
  height: 60px;
  background-color: #62d0df;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: end;
  display: none;
}

.hamburger {
  position: relative;
  display: block;
  width: 50px;
  height: 24px;
  margin: auto;
  border-top: 4px solid #f9b640;
  border-bottom: 4px solid #f9b640;
  background-color: #62d0df;
}

.hamburger:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0px;
  width: 100%;
  border-top: 4px solid #f9b640;
}

.container {
  max-width: 1437px;
  margin: 0 auto;
}

/* ---header---*/

.header {
  background-color: #f4f9e2;
}

.header .header_top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.header .header_top .header_top_logo {
  margin-left: 179px;
  margin-top: 50px;
}

.header .header_top .header_top_logo h2 {
  font-weight: bold;
  font-style: normal;
  font-size: 24px;
  line-height: 27px;
  color: #62d0df;
}

.header .header_top .header_top_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 45px;
}

.header .header_top a {
  font-size: 14px;
  line-height: 16px;
  color: #22356f;
  text-decoration: none;
}

.header .header_top a:hover {
  border-bottom: 2px solid #22356f;
}

.header .header_top_button {
  justify-self: end;
  margin-top: 27px;
  margin-right: 131px;
}

.header .header_top_button button {
  background: #62d0df;
  border-radius: 50px;
  width: 150px;
  height: 50px;
  border: none;
  text-transform: uppercase;
  -webkit-transition-duration: 900ms;
       -o-transition-duration: 900ms;
          transition-duration: 900ms;
}

.header .header_top_button button:hover {
  background: #22356f;
  cursor: pointer;
}

.header .header_top_button button:active {
  border: none;
}

.header .header_top_button button a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.header .header_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header_box .header_content {
  width: 469px;
  margin-top: 220px;
  margin-left: 125px;
  margin-bottom: 68px;
}

.header .header_box .header_content h1 {
  font-size: 48px;
  line-height: 53px;
  letter-spacing: -0.035em;
  color: #22356f;
}

.header .header_box .header_content p {
  font-size: 24px;
  line-height: 42px;
  color: #22356f;
}

.header .header_box .header_content .header_content_butoon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header_box .header_content .header_content_butoon button {
  width: 150px;
  height: 50px;
  color: #f9b640;
  font-size: 16px;
  line-height: 23px;
  border: none;
  background-color: #f4f9e2;
  -webkit-transition-duration: 900ms;
       -o-transition-duration: 900ms;
          transition-duration: 900ms;
}

.header .header_box .header_content .header_content_butoon button:hover {
  background: #22356f;
  cursor: pointer;
  color: #fff;
  background-color: #f9b640;
}

.header .header_box .header_image {
  margin-top: 10px;
}

.header .header_box .header_image .img img {
  width: 500px;
  height: 544.93px;
  border-radius: 50% 0%;
}

.whyThrive {
  background-color: #62d0df;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.whyThrive .whyThrive_content {
  -ms-flex-preferred-size: 912px;
      flex-basis: 912px;
  -ms-flex-line-pack: center;
      align-content: center;
}

.whyThrive .whyThrive_content h3 {
  margin-left: 173px;
  margin-top: 151px;
  font-size: 36px;
  line-height: 27px;
  letter-spacing: -0.006em;
  color: #ffffff;
}

.whyThrive .whyThrive_content p {
  max-width: 555px;
  margin: 126px auto 0;
  font-size: 24px;
  line-height: 35px;
  color: #ffffff;
}

.whyThrive .whyThrive_image {
  -ms-flex-preferred-size: 525px;
      flex-basis: 525px;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.aboutUs a {
  font-size: 36px;
  line-height: 27px;
  letter-spacing: -0.006em;
  color: #22356f;
  margin-left: 106px;
  margin-top: 156px;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
}

.aboutUs p {
  max-width: 592px;
  font-size: 24px;
  line-height: 35px;
  color: #22356f;
  margin-left: 424px;
  margin-top: -35px;
}

.helpWith .helpWith_bloc .weight,
.helpWith .helpWith_bloc .running,
.helpWith .helpWith_bloc .pumping,
.helpWith .helpWith_bloc .iron {
  width: 100%;
  height: 360px;
}

.helpWith #services,
.helpWith a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 27px;
  letter-spacing: -0.006em;
  color: rgba(34, 53, 111, 0.5);
  text-align: center;
  display: block;
  margin: 156px auto 25px;
}

.helpWith .helpWith_bloc {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.helpWith .helpWith_bloc .helpWith_bloc_lineTop {
  width: 255px;
  border: 1px solid #fff;
  margin: 72px auto;
}

.helpWith .helpWith_bloc h4 {
  text-align: left;
  font-size: 32px;
  line-height: 34px;
  letter-spacing: -0.006em;
  color: #ffffff;
  margin-top: -35px;
  margin-left: 78px;
}

.helpWith .helpWith_bloc h4::before {
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #e9b730;
  display: block;
  margin-bottom: -20px;
  margin-left: -15px;
}

.helpWith .helpWith_bloc .weight {
  background-color: #ffe2de;
}

.helpWith .helpWith_bloc .running {
  background-color: #c4e769;
}

.helpWith .helpWith_bloc .pumping {
  background-color: #62d0df;
}

.helpWith .helpWith_bloc .iron {
  background-color: #0052c1;
}

.next {
  margin-top: 120px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}

.next .line {
  width: 340px;
  border: 1px solid #fff;
  margin: 72px auto;
}

.next h4 {
  text-align: left;
  font-size: 32px;
  line-height: 34px;
  letter-spacing: -0.006em;
  color: #ffffff;
  margin-top: -35px;
  margin-left: 104px;
}

.next h4::before {
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #e9b730;
  display: block;
  margin-bottom: -20px;
  margin-left: -20px;
}

.next .next_box {
  width: 100%;
  height: 480px;
}

.next .PhysicalHealth {
  background-color: #22356f;
}

.next .MentalHealth {
  background-color: #0052c1;
}

.next .Nutrition {
  background: url(../img/joanna-kosinska-340748.png);
}

.next .Gymnastics {
  background-color: #62d0df;
}

.next .Crossfit {
  background-color: #dee1ff;
}

.next .Aerobics {
  background-color: #8f00ff;
}

.programme_food {
  margin: 22px 105px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 156px;
  grid-row-gap: 60px;
}

.programme_food div h5 {
  font-size: 28px;
  line-height: 33px;
  letter-spacing: -0.03em;
  color: #22356f;
}

.programme_food div p {
  font-size: 16px;
  line-height: 25px;
  letter-spacing: -0.03em;
  color: rgba(34, 53, 111, 0.5);
  max-width: 300px;
}

.know {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.know .know_img {
  max-width: 480px;
}

.know .know_img img {
  width: 100%;
  height: 100%;
}

.know .know_content {
  max-width: 676px;
  margin-left: -120px;
}

.know #blog,
.know a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 47px;
  letter-spacing: -0.006em;
  color: #22356f;
  margin-top: 103px;
}

.know p {
  font-size: 36px;
  line-height: 53px;
  letter-spacing: -0.01em;
  color: #22356f;
  margin-top: 220px;
}

.know p .mdd {
  text-transform: uppercase;
}

.know p .thriveTalk {
  color: #6cd3e1;
}

.know a {
  margin-top: 152px;
  font-size: 16px;
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.1em;
  color: #fab63e;
  text-decoration: none;
  text-transform: uppercase;
}

.smile {
  display: grid;
  grid-template-columns: 60% 40%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.smile .smile_img {
  max-width: 100%;
}

.smile .smile_img img {
  width: 100%;
  height: 100%;
}

.smile .smile_content {
  background-color: #22356f;
}

.smile #contact,
.smile a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 27px;
  letter-spacing: -0.006em;
  color: #fff;
  margin-top: 103px;
  margin-left: 180px;
}

.smile h4 {
  text-transform: uppercase;
  font-size: 36px;
  line-height: 27px;
  letter-spacing: -0.006em;
  color: #fff;
  margin-top: 220px;
  margin-left: 180px;
}

.smile p {
  font-size: 36px;
  line-height: 53px;
  letter-spacing: -0.01em;
  color: #fff;
  margin-top: 7px;
  margin-left: 180px;
  margin-right: 20px;
  max-width: 579px;
}

.smile a {
  margin-top: 152px;
  font-size: 16px;
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.1em;
  color: #62d0df;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 180px;
}

.footer {
  display: grid;
  grid-template-columns: 45% 55%;
}

.footer .footer_img img {
  width: 100%;
  height: 100%;
}

.footer .footer_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 98px;
}

.footer .footer_info a {
  font-size: 14px;
  color: #509aff;
  text-decoration: none;
}

.footer .footer_info p {
  max-width: 205px;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: -0.006em;
  color: rgba(34, 53, 111, 0.5);
}

.footer .footer_info h4 {
  font-size: 14px;
  line-height: 25px;
  letter-spacing: -0.006em;
  color: #22356f;
}

.footer .footer_info .footer_info_some_info {
  margin-left: 60px;
}

.footer .footer_info .footer_info_enfold_health {
  margin-left: 40px;
}

.footer .footer_info .footer_info_enfold_health p {
  max-width: 150px;
}

.footer .footer_info .footer_info_office_hours {
  margin-left: 40px;
}

.footer .footer_info .footer_info_office_hours p {
  max-width: 120px;
}

footer {
  height: 80px;
  background-color: #62d0df;
  margin-bottom: 0;
}

footer p {
  text-align: center;
  font-size: 14px;
  line-height: 11px;
  letter-spacing: -0.006em;
  color: #ffffff;
  margin-top: 0;
  padding-top: 40px;
}

@media screen and (max-width: 1440px) {
  .programme_food {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-row-gap: 10px;
    grid-column-gap: 180px;
  }
}

@media screen and (max-width: 1330px) {
  .footer {
    grid-template-columns: 50% 50%;
  }
}

@media screen and (max-width: 1240px) {
  .know .know_content {
    margin-left: inherit;
  }

  .smile .smile_content a {
    margin-top: 20px;
  }

  .footer {
    grid-template-columns: 60% 40%;
  }
}

@media screen and (max-width: 1140px) {
  .whyThrive_content p {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 1110px) {
  .header {
    height: auto;
  }

  .header_content {
    margin: auto;
  }

  .header_image {
    margin-top: 0px;
  }

  .header_image .img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header_image .img img {
    width: 500px;
    height: 544.93px;
    border-radius: 100% 100%;
  }

  .whyThrive_content {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }

  .whyThrive_image {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }

  .helpWith .helpWith_bloc {
    grid-template-columns: repeat(auto-fit, minmax(150px, 50%));
  }

  .footer_info .footer_info_office_hours h4 {
    line-height: 20px;
  }
}

@media screen and (max-width: 1060px) {
  .know .know_content {
    max-width: 340px;
    margin-left: 40px;
  }

  .know .know_content h3 {
    line-height: 50px;
  }

  .know .know_content p {
    margin-top: 0;
    font-size: 24px;
  }

  .smile .smile_content h3 {
    line-height: 50px;
  }

  .smile .smile_content h4 {
    margin-top: 100px;
  }

  .smile .smile_content p {
    margin-top: 0;
    font-size: 24px;
  }

  .smile .smile_content a {
    margin-top: 100px;
  }
}

@media screen and (max-width: 950px) {
  .header_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .whyThrive_image {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }

  .whyThrive_image img {
    max-width: 100%;
    height: auto;
  }

  .helpWith .helpWith_bloc {
    grid-template-columns: repeat(auto-fit, minmax(150px, 50%));
  }

  .next {
    margin-top: 20px;
  }

  .know #blog,
  .know a {
    margin-top: 20px;
  }

  .know p {
    line-height: 38px;
  }

  .smile .smile_content h4 {
    font-size: 26px;
    margin-top: 50px;
  }

  .footer .footer_info {
    margin-top: 20px;
  }

  .smile .smile_content a {
    margin-top: 20px;
  }
}

@media screen and (max-width: 840px) {
  .header .header_box .header_content {
    margin-top: 10px;
  }

  .header .hamburger-box {
    display: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header .header_top {
    grid-template-columns: 1fr 1fr;
  }

  .header .header_top .header_top_menu {
    display: none;
  }

  .whyThrive {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .whyThrive .whyThrive_content {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }

  .whyThrive .whyThrive_content h3 {
    margin: 50px auto;
    text-align: center;
  }

  .whyThrive .whyThrive_content p {
    margin: 0 auto 0;
  }

  .aboutUs #about,
  .aboutUs a {
    margin: 50px auto;
    text-align: center;
  }

  .aboutUs p {
    margin: auto;
    text-align: center;
    font-size: 18px;
    padding: 10px;
  }

  .helpWith #services,
  .helpWith a {
    margin: 56px auto 25px;
  }

  .programme_food {
    grid-column-gap: 70px;
    margin: 22px auto;
  }

  .know {
    display: inherit;
  }

  .know .know_content {
    margin: auto;
    max-width: inherit;
  }

  .know .know_content #blog,
  .know .know_content a {
    display: block;
    margin: 20px auto;
  }

  .know .know_content p {
    font-size: 18px;
    max-width: 340px;
    line-height: 30px;
    display: block;
    margin: auto;
  }

  .know .know_content a {
    margin-top: inherit;
  }

  .know .know_img {
    margin: auto;
  }

  .smile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0;
  }

  .smile .smile_content {
    max-width: 100%;
    margin-top: -4px;
  }

  .smile .smile_content #contact,
  .smile .smile_content a {
    display: block;
    margin: 20px auto;
    text-align: center;
  }

  .smile .smile_content h4 {
    margin: 10px auto;
  }

  .smile .smile_content p {
    margin: 10px auto;
  }

  .smile .smile_content a {
    margin: 20px auto;
  }

  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer .footer_info .footer_info_some_info {
    margin-left: 10px;
  }
}

@media screen and (max-width: 650px) {
  .header .header_top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header .header_top .header_top_logo {
    margin: 50px auto 0;
  }

  .header .header_top .header_top_button {
    margin: 27px auto;
  }

  .header .header_box .header_content {
    max-width: 269px;
    margin: 27px auto;
  }

  .header .header_box .header_content h1 {
    font-size: 38px;
  }

  .header .header_box .header_content p {
    font-size: 18px;
    line-height: 42px;
  }

  .whyThrive .whyThrive_content p {
    margin: 0 auto 0;
    font-size: 18px;
  }

  .helpWith h3 {
    line-height: inherit;
    margin: 56px auto 20px;
  }

  .helpWith .helpWith_bloc {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }

  .helpWith .helpWith_bloc h4 {
    text-align: center;
  }

  .helpWith .helpWith_bloc h4::before {
    display: none;
  }

  .next {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }

  .smale .smile_content p {
    max-width: inherit;
  }
}

@media screen and (max-width: 510px) {
  .header_box .header_content {
    max-width: 320px;
    margin-top: 27px;
  }

  .header_box .header_content h1 {
    font-size: 28px;
  }

  .header_box .header_content p {
    font-size: 16px;
    line-height: 36px;
  }

  .header_box .header_image .img img {
    max-width: 320px;
    max-height: 320px;
  }

  .whyThrive_content {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }

  .whyThrive_content p {
    font-size: 18px;
  }

  .helpWith .helpWith_bloc .weight,
  .helpWith .helpWith_bloc .running,
  .helpWith .helpWith_bloc .pumping,
  .helpWith .helpWith_bloc .iron {
    width: 100%;
    height: 190px;
  }

  .helpWith .helpWith_bloc h4 {
    text-align: center;
    margin: auto;
  }
}

@media screen and (max-width: 420px) {
  .header .header_box .header_content .header_content_buttoon {
    width: 120px;
  }

  .whyThrive_content h3 {
    margin-top: 10px;
  }

  .helpWith #services,
  .helpWith a {
    line-height: inherit;
  }

  .helpWith .helpWith_bloc .running h4 {
    margin-left: inherit;
  }

  .next {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .know p {
    max-width: inherit;
  }

  .smile .smile_content p {
    line-height: inherit;
  }
}

@media screen and (max-width: 350px) {
  .header .header_box .header_content .header_content_butoon button {
    width: 120px;
  }
}
@supports (-webkit-appearance:none){
.next .Nutrition{background:url(../img/joanna-kosinska-340748.webp)}
}

 @media screen and (max-width: 1440px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 1330px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 1240px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 1140px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 1110px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 1060px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 950px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 840px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 650px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 510px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 420px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 350px){

@supports (-webkit-appearance:none){

}

}
